
body{
    /*
    background-image: url("986644.jpg");
    background-size: cover;
    */
    overflow: auto;
    position: relative;
   /* 
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: hsla(0,0%,80%,0.70);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    */
}
body:before{
    content: "";
    position: fixed;
    top: -9%;
    left: -2%;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('1235703.jpg');
    background-size:cover;
    width: 110%;
    height: 110%;

    -webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.inline{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

li{
    display: inline;
    position: relative;
}
li a{
    /*
    font-size: 20px;
    font-weight: bold;
    */
    margin: 0;
    font: bold 16px/1.4 'Open Sans', arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    color: hsl(0, 100%, 75%);
    display: inline-block;
    padding: 8px;
    position: relative;
}
li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: hsl(0, 100%, 75%);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
li a:hover:after { 
    width: 100%; 
    left: 0; 
}

#top, #bottom, #left, #right {
	background: hsl(0, 100%, 75%);
	position: fixed;
}
#left, #right {
    top: 0; 
    bottom: 0;
	width: 6px;
}
#left { 
    left: 0; 
}
#right { 
    right: 0; 
}
		
#top, #bottom {
    left: 0; 
    right: 0;
	height: 6px;
}
#top { 
    top: 0;
}
#bottom { 
    bottom: 0; 
}

h1{
    text-align: center;
    color: White;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;    
}
.list-inline {
    list-style: none;
    padding: 0;
    text-align: center;
}

.list-inline > li {
    display: inline;
}

.list-middot > li:not(:last-child)::after {
    /* https://en.wikipedia.org/wiki/Bullet_(typography) */
    content: "•";
    color: White;
}
li .p1{
    color: White;
    font-size: 30px;
    font-family: 'Arvo', Georgia, Times, serif;
}
li .p2{
    color: White;
    font-size: 30px;
    font-family: 'Allan', Helvetica, Arial, sans-serif;
}
li .p3{
    color: White;
    font-size: 30px;
    font-family: 'Dancing Script', Georgia, Times, serif;
}

.content a{
    color: hsl(0, 100%, 75%);
    padding-left: 10px;
    font-size: 30px;
}
.content{
    margin-top: -90px;
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
    position: relative;
    top: -50px;

}

